@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&family=Urbanist:wght@400;700;900&display=swap');

body {
  background-color: whitesmoke;
  font-family: 'Rosarivo', cursive;
  color:black;
  font-size :17px;
}

h1, h2 {
  font-family: 'Urbanist', sans-serif;
}
h1 {
  color:#3537CA;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #CA3537;
  font-size: 25px;
  font-weight: 700;
}

a {
  color: rgba(0, 0, 255, 0.4);
  text-decoration: none;
}

a:hover {
  color:#37CA35;
}

p {
  margin-bottom: 1.5em;
}

.text-center {
  text-align: center;
}

.card {
  background-color: white;
  padding: 2em;
  margin: 2em auto;
  box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.195);
}

.image-round{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
  }

#main-link-blue {
  background-color: #3537CA;
  color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.list-inline {
  list-style: none;
  padding: 0px
}

.list-inline > li {
  display: inline-block;
  padding: 10px 20px;
}

.list-inline i {
  font-size: 72px;
}
.list-nostyle {
  list-style: none;
  padding: 0px
}

.container {
  width: 600px;   /* Définit la largeur */
  margin: 0 auto; /* Définit automatiquement les marges à gauche/droite */
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 600px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 400px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 380px;
  }
}
